{{#partial "content"}}


    <div class="jumbotron">
        <h1 class="squad">List of heroes for {{oneSquad.name}} squad</h1>

    </div>


    <h3 class="char">Hero characteristics</h3>


    {{#each oneHero}}
    <div class="card" style="width:400px">

        <div class="card-body">
            <h3 id="namehero">{{name}}</h3>
            <h3 id ="agehero">{{age}}</h3>
            <h3 id="powerhero">{{power}}</h3>
            <h3 id="weaknesshero">{{weakness}}</h3>
        </div>
    </div>
    {{/each}}
{{/partial}}

{{> layout.hbs}}