{{#partial "content"}}

    <h1>List of heroes for {{oneSquad.name}} squad</h1>

    <ol>
        {{#each oneHero}}
            <li>
                <h3 id="namehero">{{name}}</h3>
                <h3 id ="agehero">{{age}}</h3>
                <h3 id="powerhero">{{power}}</h3>
                <h3 id="weaknesshero">{{weakness}}</h3>
            </li>
        {{/each}}
    </ol>
{{/partial}}

{{> layout.hbs}}